<div class="container">
	<div class="panel panel-default col-xs-12">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="sel1">Selecione a origem:</label>
							<select ng-model="home.call.from" class="form-control" id="from">
								<option ng-repeat="ddd in home.ddds" value="{{ ddd }}">{{ ddd }}</option>
							</select>
						</div>
					</div>
		
					<div class="col-xs-12 col-sm-12">
						<div class="form-group">
							<label for="sel1">Selecione o destino:</label>
							<select ng-model="home.call.to" class="form-control" id="to">
								<option ng-repeat="ddd in home.ddds" value="{{ ddd }}">{{ ddd }}</option>
							</select>
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-12">
						<div class="input-group">
							<label for="time">Duração:</label>
							<input ng-model="home.call.duration" type="number" class="form-control" id="time" ng-change="home.change();">
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-8">
					<h3>Compare os planos</h3>
				</div>

				<div class="panel panel-default col-xs-12 col-md-8">
					<div class="panel-body">
						<div ng-repeat="plan in home.plans" class="col-xs-12 col-md-4">
							<h4>{{ plan.name }}</h4>
							<p ng-if="!(home.call.duration)">-</p>
							<p ng-if="(home.call.to && home.call.from && home.call.duration)">R${{ home.showPrice(plan.minutes) | number:2 }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
